# Configuración de The Movie Database (TMDB) API
# Para obtener tu Access Token, ve a https://developer.themoviedb.org/docs/authentication-application

TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_ACCESS_TOKEN=tu_access_token_aqui
# TMDB_API_KEY=opcional_api_key

